<template>
    <div>
        <v-dialog v-model="showDialog" max-width="800" persistent>
            <v-card>
                <v-card-title>Nieuws bewerken</v-card-title>

                <v-card-text>
                    <v-form ref="form"
                        lazy-validation>
                        <v-text-field v-model="form.title"
                                      autocomplete="title"
                                      name="title"
                                      id="title"
                                      label="Titel"
                                      :rules="[rules.required]" required
                                      counter
                                      maxlength="255"></v-text-field>
                        <v-textarea v-model="form.content"
                                    label="Inhoud"
                                    autocomplete="content"
                                    name="content"
                                    id="content"
                                    :rules="[rules.required]" required
                        ></v-textarea>
                        <v-text-field v-model="form.url"
                                      autocomplete="url"
                                      name="url"
                                      id="url"
                                      label="Als dit een extern bericht is, plaats dan hier de link"
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="accent" text @click="hideDialog">Annuleren</v-btn>
                    <v-btn color="red" text @click="removeNews">Verwijder</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="storeNews">Opslaan</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { EventBus } from '../../../plugins/events-bus'

export default {
  name: 'EditNewsItem',
  props: ['news'],
  data () {
    return {
      showDialog: true,
      newNewsItem: null,
      form: {
        title: this.news.title,
        content: this.news.content,
        is_external: this.news.is_external,
        url: this.news.url
      },
      rules: {
        required: value => !!value || 'Dit veld is verplicht!'
      }
    }
  },
  methods: {
    storeNews () {
      if (!this.$refs.form.validate()) return false

      if (this.form.url) {
        this.form.is_external = true
      }

      this.axios.patch('/api/admin/news/internal/' + this.news.id, this.form)
        .then(response => {
          this.newNewsItem = response.data
          EventBus.$emit('snackbar', 'Successfully posted news item')
          this.$emit('close')
          this.$emit('news_added', 1)
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    },
    removeNews () {
      if (!confirm('Wil je dit nieuwsbericht echt verwijderen?')) {
        return false
      }

      this.axios.delete('/api/admin/news/internal/' + this.news.id)
        .then(response => {
          EventBus.$emit('snackbar', response.message)
          this.$emit('close')
          this.$emit('news_added', 1)
        })
        .catch(error => {
          EventBus.$emit('snackbar', error.message)
        })
    },
    hideDialog () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
</style>
