<script>
import { Bar } from 'vue-chartjs'

export default {
  extends: Bar,
  data () {
    return {
      data: {
        labels: ['Maandelijks', 'Strippenkaart'],
        datasets: [{
          label: 'aantal deelnemers',
          data: [70, 30, 0, 100],
          backgroundColor: [
            'rgba(255,193,7, 0.2)',
            'rgba(232, 141, 4, 0.2)'
          ],
          borderColor: [
            'rgba(255,193,7, 1)',
            'rgba(232, 141, 4, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              stepSize: 20
            }
          }]
        },
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  mounted () {
    this.renderChart(this.data, this.options)
  }
}
</script>

<style scoped>

</style>
