<script>
import { Line } from 'vue-chartjs'

export default {
  extends: Line,
  data () {
    return {
      data: {
        labels: ['2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07'],
        datasets: [{
          label: 'Aantal geregistreerde deelnemers per dag',
          data: [40, 55, 56, 59, 65, 80, 81],
          fill: false,
          borderColor: 'rgb(0,53,105)',
          tension: 0
        }]
      },
      options: {
        legend: {
          display: false
        },
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  mounted () {
    this.renderChart(this.data, this.options)
  }
}
</script>

<style scoped>

</style>
