<template>
    <div>
        <v-dialog
            v-model="dialog"
            max-width="900"
            persistent>
            <v-card>
                <v-toolbar
                    flat
                    color="primary"
                    dark>
                    <v-toolbar-title>Deelnemerinformatie</v-toolbar-title>
                </v-toolbar>
                <v-tabs vertical class="justify-tabs">
                    <v-tab>
                        <v-icon left>mdi-account</v-icon>
                        Personalia
                    </v-tab>
                    <v-tab @click="loadAttendanceHistory">
                      <v-icon left>mdi-calendar</v-icon>
                      Aanwezigheid
                    </v-tab>
                    <v-tab @click="loadFinanceDetails">
                        <v-icon left>mdi-cash-multiple</v-icon>
                        Abonnement
                    </v-tab>
                    <v-tab @click="loadFinanceDetails">
                        <v-icon left>mdi-file-document-edit-outline</v-icon>
                        Mandaat
                    </v-tab>
                    <v-tab @click="loadPaymentHistory">
                        <v-icon left>mdi-history</v-icon>
                        Betalingen
                    </v-tab>

                    <!--// Personalia //-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <tbody class="bold-tr">
                                        <tr>
                                            <td>Naam</td>
                                            <td>{{ user['full_name'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Geboortedatum</td>
                                            <td>{{ formatDate(user['birthdate']) }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{ user['email'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Telefoonnummer</td>
                                            <td>{{ user['phone_number'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Postcode</td>
                                            <td>{{ user['postal_code'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Discord username</td>
                                            <td>{{ user['discord_name'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nieuwsbrief</td>
                                            <td><v-switch v-model="user['opt_in_news']" disabled></v-switch></td>
                                        </tr>
                                        <tr>
                                          <td>Rollen</td>
                                          <td><v-chip v-for="role in user['role_names']" v-bind:key="role" small>{{ role }}</v-chip></td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>

                    <!--// Aanwezigheid //-->
                    <v-tab-item>
                      <v-card flat>
                        <v-card-text>
                          <v-simple-table v-if="attendanceHistory !== null">
                            <template v-slot:default>
                              <tbody class="bold-tr">
                              <tr v-for="registration in attendanceHistory" v-bind:key="registration.id">
                                <td>{{ registration['activity']['title'] }}</td>
                                <td>{{ formatDate(registration['activity']['activity_start']) }}</td>
                              </tr>
                              </tbody>
                            </template>
                          </v-simple-table>
                          <p class="body-2 text-center" v-else>Deze deelnemer is nog niet bij activiteiten aanwezig geweest.</p>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>

                    <!--// Abonnement //-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-simple-table v-if="financeDetails !== null && financeDetails['subscription'] !== false">
                                    <template v-slot:default>
                                        <tbody class="bold-tr">
                                        <tr>
                                            <td>Aangemaakt op</td>
                                            <td>{{ financeDetails['subscription']['createdAt'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>{{ financeDetails['subscription']['status'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Bedrag</td>
                                            <td>{{ financeDetails['subscription']['amount']['value'] }} {{ financeDetails['subscription']['amount']['currency'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Eerste afschrijving</td>
                                            <td>{{ financeDetails['subscription']['startDate'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Volgende afschrijving</td>
                                            <td>{{ financeDetails['subscription']['nextPaymentDate'] }}</td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                                <span v-if="financeDetails !== null && financeDetails['subscription'] === false">
                                    Gebruiker heeft geen (lopend) abonnement.
                                </span>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>

                    <!--// Betaalmethode //-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-simple-table v-if="financeDetails !== null && financeDetails['mandate'] !== false">
                                    <template v-slot:default>
                                        <tbody class="bold-tr">
                                        <tr>
                                            <td>Betaalmethode</td>
                                            <td>{{ financeDetails['mandate']['method'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>{{ financeDetails['mandate']['status'] }}</td>
                                        </tr>
                                        <!--// Directdebit details //-->
                                        <tr v-if="financeDetails['mandate']['method'] == 'directdebit'">
                                            <td>IBAN rekeningnummer</td>
                                            <td>{{ financeDetails['mandate']['details']['consumerAccount'] }}</td>
                                        </tr>
                                        <tr v-if="financeDetails['mandate']['method'] == 'directdebit'">
                                            <td>Naam rekeninghouder</td>
                                            <td>{{ financeDetails['mandate']['details']['consumerName'] }}</td>
                                        </tr>

                                        <!--// Creditcard details //-->
                                        <tr v-if="financeDetails['mandate']['method'] == 'creditcard'">
                                            <td>Laatste cijfers kaart</td>
                                            <td>{{ financeDetails['mandate']['details']['cardNumber'] }}</td>
                                        </tr>
                                        <tr v-if="financeDetails['mandate']['method'] == 'creditcard' && financeDetails['mandate']['details']['cardLabel'] !== null">
                                            <td>Merk Creditcard</td>
                                            <td>{{ financeDetails['mandate']['details']['cardLabel'] }}</td>
                                        </tr>
                                        <tr v-if="financeDetails['mandate']['method'] == 'creditcard'">
                                            <td>Naam kaarthouder</td>
                                            <td>{{ financeDetails['mandate']['details']['cardHolder'] }}</td>
                                        </tr>
                                        <tr v-if="financeDetails['mandate']['method'] == 'creditcard'">
                                            <td>Verloopdatum kaart</td>
                                            <td>{{ financeDetails['mandate']['details']['cardExpiryDate'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Datum digitale handtekening</td>
                                            <td>{{ financeDetails['mandate']['signatureDate'] }}</td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>

                    <!--// Afgelopen betalingen //-->
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left">Datum</th>
                                                <th class="text-left">Beschrijving</th>
                                                <th class="text-left">Bedrag</th>
                                                <th class="text-left">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="payment in paymentHistory" :key="payment.id">
                                                <td>{{ formatDateTime(payment['createdAt']) }}</td>
                                                <td>{{ shorterDescription(payment['description']) }}</td>
                                                <td>{{ payment['amount']['value'] }} {{ payment['amount']['currency'] }}</td>
                                                <td>{{ payment['status'] }}</td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>

                </v-tabs>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        text
                        @click="$emit('close', 1)"
                    >
                        Sluiten
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ShowUserDetails',
  props: ['user'],
  data () {
    return {
      dialog: true,
      tmpUserId: null,
      cachedUserId: null,
      financeDetails: null,
      paymentHistory: null,
      attendanceHistory: null
    }
  },
  methods: {
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    },
    shorterDescription (text) {
      return text
        .replace('aan Stichting The Space Leiden', '')
        .replace('The Space Leiden', '')
    },
    loadFinanceDetails () {
      const userId = this.$props.user.id
      if (this.financeDetails !== null && userId === this.cachedUserId) {
        return false // data already here
      }
      this.tmpUserId = userId

      this.axios.get(`/api/admin/users/${userId}/finance`)
        .then(response => {
          this.financeDetails = response.data
          this.cachedUserId = this.tmpUserId
        })
    },
    loadPaymentHistory () {
      const userId = this.$props.user.id
      if (this.paymentHistory !== null && userId === this.cachedUserId) {
        return false // data already here
      }
      this.tmpUserId = userId

      this.axios.get(`/api/admin/users/${userId}/finance/payments`)
        .then(response => {
          this.paymentHistory = response.data.payments
          this.cachedUserId = this.tmpUserId
        })
    },
    loadAttendanceHistory () {
      const userId = this.$props.user.id

      this.axios.get(`/api/admin/users/${userId}/registrations`)
        .then(response => {
          if (response.data.registrations.length > 0) {
            this.attendanceHistory = response.data.registrations
          }
        })
    }
  }
}
</script>

<style scoped>
    div.justify-tabs [role="tab"] {
      justify-content: flex-start;
    }
    .bold-tr > tr > td:first-of-type {
        font-weight: bold;
    }
</style>
