<template>
    <div>
        <v-dialog
            v-model="dialog"
            max-width="600"
            persistent
        >
            <v-card>
                <v-card-title class="text-h5">
                    {{ activity['title'] }}
                </v-card-title>
                <v-card-text>
                    <div class="subheading">{{ formatDateTime(activity['activity_start']) }}<span v-if="activity['location']"> bij {{ activity['location']}}</span></div>
                    <p class="body-1 mt-2">{{ activity['description'] }}</p>
                </v-card-text>
                <v-card-actions>
                    <v-btn
                        color="accent"
                        text
                        @click="$emit('close', 1)"
                    >
                        Annuleren
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="red"
                        text
                        v-if="activity['current_user_registered']"
                        @click="removeRegistration(activity)"
                    >
                        Afmelden
                    </v-btn>
                    <v-btn
                        color="primary"
                        text
                        v-else
                        @click="openRegistrationForm(activity)"
                    >
                        Aanmelden
                    </v-btn>
                  <add-registration v-if="registrationFormModal" @close="registrationFormModal=false" :activity="registrationFormModalData" v-on:registration_added="addRegistration"></add-registration>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'
import AddRegistration from './AddRegistration'
import moment from 'moment'

export default {
  name: 'ShowActivity',
  components: { AddRegistration },
  props: ['activity'],
  data () {
    return {
      dialog: true,
      registrationFormModal: false,
      registrationFormModalData: null
    }
  },
  methods: {
    openRegistrationForm (activity) {
      this.registrationFormModal = true
      this.registrationFormModalData = activity
    },
    addRegistration () {
      this.$emit('registration_changed')
      this.$emit('close')
    },
    removeRegistration (activity) {
      this.axios.delete('/api/registrations', { data: { activity_id: activity.id } })
        .then(response => {
          EventBus.$emit('snackbar', 'Registratie is verwijderd.')
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
      this.$emit('registration_changed')
      this.$emit('close')
    },
    formatDateTime (value) {
      if (value) {
        return moment.utc(String(value)).format('l LT')
      }
    }
  }
}
</script>

<style scoped>
</style>
