<template>
    <div>
        <v-dialog
            v-model="dialog"
            max-width="600"
            persistent
        >
            <v-card>
                <v-card-title class="text-h5">
                    {{ news['title'] }}
                </v-card-title>
                <v-card-text>
                    <div class="subheading">{{ formatDate(news['created_at']) }}</div>
                    <br>
                    <p>{{ news['content'] }}</p>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        text
                        @click="$emit('close', 1)"
                    >
                        Sluiten
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ShowNews',
  props: ['news'],
  data () {
    return {
      dialog: true
    }
  },
  methods: {
    formatDate (value) {
      if (value) {
        return moment.utc(String(value)).format('l')
      }
    }
  }
}
</script>

<style scoped>
</style>
