<template>
    <v-snackbar
        v-model="showSnackBar"
        :timeout="timeout"
        >
        {{ message }}
        <template v-slot:action="{ attrs }">
            <v-btn
              color="white"
              text
              v-bind="attrs"
              @click="showSnackBar = false"
            >Sluiten</v-btn>
        </template>
    </v-snackbar>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'Snackbar',
  data () {
    return {
      timeout: 4000,
      showSnackBar: false,
      message: ''
    }
  },
  methods: {
    reset () {
      this.timeout = 4000
      this.showSnackBar = false
      this.message = ''
    }
  },
  created () {
    EventBus.$on('snackbar', (data) => {
      this.message = data
      this.showSnackBar = true
    })
  }
}
</script>

<style scoped></style>
