<template>
    <div>
      <v-tabs v-model="tab">
        <v-tab v-for="item in tab_items" :key="item">{{ item }}</v-tab>
      </v-tabs>

      <add-activity v-on:activity_added="onActivityAdded"></add-activity>

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <activity-table :pagetitle="'Aankomende activiteiten'" :activities="future_activities" :key="activities_loaded" v-on:activity_updated="onActivityUpdated"></activity-table>
        </v-tab-item>

        <v-tab-item>
          <activity-table :pagetitle="'Afgelopen activiteiten'" :activities="past_activities" :key="activities_loaded" v-on:activity_updated="onActivityUpdated"></activity-table>
        </v-tab-item>

        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <activity-attendance-chart></activity-attendance-chart>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </div>
</template>

<script>
import AddActivity from '../../components/admin/AddActivity'
import ActivityAttendanceChart from '../../components/admin/ActivityAttendanceHistoryChart'
import ActivityTable from '../../components/admin/ActivityTable'

export default {
  name: 'AdminActiviteiten',
  components: { ActivityTable, ActivityAttendanceChart, AddActivity },
  data () {
    return {
      past_activities: {},
      future_activities: {},
      tab_items: ['Komende', 'Afgelopen', 'Aanwezigheid'],
      tab: null,
      activities_loaded: ''
    }
  },
  methods: {
    getActivities () {
      this.axios.get('/api/admin/activities')
        .then(response => {
          this.past_activities = response.data.past_activities
          this.future_activities = response.data.future_activities
          this.activities_loaded = 'true'
        })
    },
    onActivityAdded () {
      this.getActivities()
    },
    onActivityUpdated () {
      this.getActivities()
    }
  },
  mounted () {
    this.getActivities()
  }
}
</script>

<style scoped>
.v-card {
    border-radius: 7.5px;
}

.v-tabs {
  border-radius: 7.5px;
  margin-bottom: 16px;
}
.v-tab-item {
  border-radius: 7.5px;
  margin-bottom: 16px;
}
.td-actions {
  text-align: right;
}

.btn-activity-count-info {
  margin-bottom: 4px;
}
</style>
