<template>
  <div>
    <v-row>
        <!-- Welcome text -->
        <v-col cols="12" xs="12" sm="12" md="4">
            <v-card flat>
                <v-card-title>Welkom in het archief!</v-card-title>
                <v-card-text>In het archief vind je alle slides en opgenomen talks en workshops.</v-card-text>
            </v-card>
        </v-col>

        <v-col cols="12" xs="12" sm="12" md="8">
            <v-list>

                <!-- Breadcrumbs -->
                <v-subheader class="justify-space-between">
                  <v-breadcrumbs style="padding-left: 0;">
                      <v-breadcrumbs-item href="#" @click="open('')">Archief</v-breadcrumbs-item>
                      &nbsp; /
                      <v-breadcrumbs-item
                          v-for="crumb in breadcrumbs"
                          :key="crumb.text"
                          href="#"
                          @click="open(crumb.path)"
                      >
                          {{ crumb.text }} &nbsp; /
                      </v-breadcrumbs-item>
                  </v-breadcrumbs>

                  <!-- Admin tasks -->
                  <div v-if="hasRole('admin')">
                    <v-btn icon @click="folderDialog = true">
                      <v-icon>mdi-folder-plus</v-icon>
                    </v-btn>
                    <v-btn icon @click="addVideoDialog = true">
                      <v-icon>mdi-video-plus</v-icon>
                    </v-btn>
                    <v-btn icon @click="uploadDialog = true">
                      <v-icon>mdi-file-upload</v-icon>
                    </v-btn>
                  </div>
                </v-subheader>

                <!-- Directory listing -->
                <div v-if="directories.length > 0">
                    <!-- <v-subheader inset>Folders</v-subheader> -->
                    <v-list-item
                        v-for="directory in directories"
                        :key="directory.path"
                        @click="open(directory.path)"
                    >
                        <v-list-item-avatar>
                            <v-icon>mdi-folder</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title v-text="formatFolderTitle(directory.name)"></v-list-item-title>
                            <v-list-item-subtitle v-text="formatFolderDate(directory.name)"></v-list-item-subtitle>
                        </v-list-item-content>

                        <v-list-item-action v-if="hasRole('admin')">
                          <v-btn icon @click.stop="renameFolder(directory.path)">
                            <v-icon>mdi-pencil</v-icon>
                          </v-btn>
                          <v-btn icon @click.stop="deleteFolder(directory.path)">
                            <v-icon>mdi-delete</v-icon>
                          </v-btn>
                        </v-list-item-action>

                    </v-list-item>
                </div>

                <!-- File listing -->
                <div v-if="files.length > 0">
                    <v-divider v-if="directories.length > 0" inset></v-divider>
                    <!-- <v-subheader v-if="files" inset>Bestanden</v-subheader> -->

                    <v-list-item
                        v-for="file in files"
                        :key="file.path"
                        @click="open(file.path, true)"
                    >
                        <v-list-item-avatar>
                            <v-icon :style="'color: ' + formatFileIcon(file.name)[1]" dark>
                              {{ formatFileIcon(file.name)[0] }}
                            </v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title v-text="formatFileName(file.name)"></v-list-item-title>
                            <v-list-item-subtitle v-text="formatDateTime(file.updated_at) + ' • ' + formatBytes(file.name, file.size)"></v-list-item-subtitle>
                        </v-list-item-content>

                        <v-list-item-action v-if="hasRole('admin')">
                          <v-btn icon @click.stop="renameFile(file.path)">
                            <v-icon>mdi-pencil</v-icon>
                          </v-btn>
                          <v-btn icon @click.stop="deleteFile(file.path)">
                            <v-icon>mdi-delete</v-icon>
                          </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                </div>
            </v-list>
        </v-col>
    </v-row>

    <!--// Video display dialog //-->
    <v-dialog v-model="videoDialog" persistent max-width="1080px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Video &mdash; {{ videoTitle }}</span>
        </v-card-title>
        <v-card-text>
          <iframe
            width="100%"
            height="500px"
            :src="'https://www.youtube-nocookie.com/embed/' + videoCode"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="closeVideo">Sluiten</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--// Upload file dialog //-->
    <v-dialog v-model="uploadDialog" persistent max-width="500px">
      <v-card :loading="isUploading">
        <template slot="progress">
          <v-progress-linear
            color="primary"
            height="10"
            indeterminate
          ></v-progress-linear>
        </template>
        <v-card-title>
          <span class="text-h5">Upload een bestand</span>
        </v-card-title>
        <v-card-text>
          Selecteer een bestand om te uploaden.
          <v-file-input
            v-model="uploadFile"
            counter
            show-size
            placeholder="Selecteer bestand"
            prepend-icon="mdi-paperclip"
            truncate-length="30"
          ></v-file-input>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="uploadDialog = false">Annuleren</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="uploadSubmit" :disabled="isUploading">Uploaden</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--// Create folder dialog //-->
    <v-dialog v-model="folderDialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Maak een nieuwe folder</span>
        </v-card-title>
        <v-card-text>
          Geef de nieuwe folder een naam.
          <v-text-field
            v-model="newFolderName"
            prepend-icon="mdi-folder"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="folderDialog = false">Annuleren</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="folderSubmit">Maken</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--// Add video dialog //-->
    <v-dialog v-model="addVideoDialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Voeg een YouTube video toe</span>
        </v-card-title>
        <v-card-text>
          <!--//Geef de nieuwe video een naam.//-->
          <v-text-field
            v-model="newVideoName"
            prepend-icon="mdi-video"
            label="Titel van de video"
          ></v-text-field>
          <v-text-field
            v-model="newVideoCode"
            prepend-icon="mdi-link"
            label="YouTube link"
            hint="https://youtu.be/abcdefg"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="addVideoDialog = false">Annuleren</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="videoSubmit">Toevoegen</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'
import moment from 'moment'

export default {
  name: 'archive',
  data () {
    return {
      path: '',
      breadcrumbs: [],
      files: [],
      directories: [],

      uploadDialog: false,
      uploadFile: null,
      isUploading: false,

      folderDialog: false,
      newFolderName: null,

      addVideoDialog: false,
      newVideoName: '',
      newVideoCode: '',

      videoTitle: '',
      videoDialog: false,
      videoCode: ''
    }
  },
  methods: {

    /**
     * List the contents of a directory.
     * Fills this.files and this.directories
     */
    listFiles (path) {
      this.axios.get('/api/archive/list/' + path)
        .then(response => {
          this.path = path
          this.updateUri(path)
          this.breadcrumbs = this.makeCrumbs(path)
          this.files = response.data.files
          this.directories = response.data.directories
        }).catch(error => {
          EventBus.$emit('snackbar', 'Er ging iets fout bij het ophalen van de bestanden.')
          console.error('whoops', error)
        })
    },

    updateUri (path) {
      location.hash = '#/' + encodeURI(path)
    },

    /**
     * Download a given file,
     * identified by it's full path.
     */
    getFile (path) {
      this.axios({
        method: 'GET',
        url: '/api/archive/download/' + path,
        responseType: 'blob'
      })
        .then(response => {
          return new Blob([response.data])
        })
        .catch(blob => {
          if (typeof blob.type !== 'string') {
            EventBus.$emit('snackbar', 'Downloaden van bestand is mislukt!')
            return console.error(blob)
          }
          const objUrl = window.URL.createObjectURL(blob)
          const anchor = document.createElement('a')
          anchor.href = objUrl
          anchor.download = path
          document.body.appendChild(anchor)
          anchor.click()
          window.URL.revokeObjectURL(objUrl)
        })
    },

    /**
     * Open item handler,
     * either makes sure a folder is listed with its contents
     * or a file gets downloaded.
     */
    open (path, isFile = false) {
      if (path.charAt(0) === '/') {
        path = path.substring(1)
      }
      if (path.endsWith('.video')) {
        return this.showVideo(path)
      }
      if (isFile) {
        return this.getFile(path)
      }
      return this.listFiles(path)
    },

    videoFilePathToParameters (path) {
      const basename = path.split('/').reverse()[0].replace('.video', '')
      const code = basename.split('.').reverse()[0]
      const title = basename.split('.')[0]
      return [code, title]
    },

    showVideo (path) {
      this.videoTitle = this.videoFilePathToParameters(path)[1]
      this.videoCode = this.videoFilePathToParameters(path)[0]
      this.videoDialog = true
    },

    closeVideo () {
      this.videoCode = ''
      this.videoDialog = false
    },

    /**
     * Update the breadcrumbs component with the new full path.
     */
    makeCrumbs (path) {
      const parts = path.split('/')
      let parsedPath = ''
      const crumbs = []
      parts.forEach(part => {
        parsedPath += '/' + part
        if (part !== '') {
          crumbs.push({
            text: part,
            disabled: false,
            href: '#',
            path: parsedPath
          })
        }
      })
      return crumbs
    },

    /**
     * DateTime and Bytes helper functions.
     */
    formatDateTime (value) {
      if (value) {
        return moment.unix(value).format('l LT')
      }
    },
    formatBytes (path, bytes) {
      if (path.endsWith('.video')) return 'Video'
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
      if (bytes === 0) return '0 Byte'
      const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)))
      return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i]
    },
    hasRole (role) {
      return this.$root.$children[0].hasRole(role)
    },
    formatFolderTitle (folderName) {
      const matches = folderName.match(/^[0-9]{4}-[0-9]{2}-[0-9]{2}/)
      if (matches !== null) {
        return folderName.replace(matches[0], '').trim()
      } else {
        return folderName
      }
    },
    formatFolderDate (folderName) {
      const matches = folderName.match(/^[0-9]{4}-[0-9]{2}-[0-9]{2}/)
      if (matches !== null) {
        const yyyymmdd = matches[0]
        return moment(yyyymmdd, 'YYYY-MM-DD').format('DD-MM-YYYY')
      } else {
        return ''
      }
    },

    formatFileName (fileName) {
      if (fileName.endsWith('.video')) {
        return this.videoFilePathToParameters(fileName)[1]
      } else {
        return fileName
      }
    },

    formatFileIcon (fileName) {
      switch (fileName.split('.').reverse()[0]) {
        case 'video':
          return ['mdi-movie', '#7627bb']
        case 'pdf':
          return ['mdi-file-pdf-box', '#ea4335']
        case 'jpg':
        case 'png':
        case 'jpeg':
          return ['mdi-image', '#d93025']
        case 'pptx':
          return ['mdi-file-presentation-box', '#fd7541']
        case 'docx':
        case 'doc':
        case 'odt':
          return ['mdi-file-word', '#4285f4']
        case 'xlsx':
        case 'xls':
          return ['mdi-file-table', '#0f9d58']
        default:
          return ['mdi-file', '#5f6368']
      }
    },

    /**
     * TODO: Move these admin functions to a separate component.
     */
    uploadSubmit () {
      if (!this.uploadFile) return false

      const formData = new FormData()
      formData.append('file', this.uploadFile, this.uploadFile.name)
      this.isUploading = true
      this.axios.post('/api/admin/archive/file/' + this.path, formData)
        .then(response => {
          this.uploadDialog = false
          this.isUploading = false
          this.uploadFile = null
          EventBus.$emit('snackbar', 'Upload is gelukt!')
          this.listFiles(this.path)
        })
        .catch(error => {
          this.isUploading = false
          EventBus.$emit('snackbar', error.message)
          console.error(error)
        })
    },

    folderSubmit () {
      if (!this.newFolderName || this.newFolderName === '') return false
      let fullPath = this.newFolderName
      if (this.path !== '') {
        fullPath = this.path + '/' + this.newFolderName
      }
      this.axios.post('/api/admin/archive/folder/' + fullPath)
        .then(response => {
          this.folderDialog = false
          this.newFolderName = null
          EventBus.$emit('snackbar', 'Folder is aangemaakt!')
          this.listFiles(this.path)
        })
        .catch(error => {
          EventBus.$emit('snackbar', error.message)
          console.error(error)
        })
    },

    videoSubmit () {
      if (!this.newVideoName || !this.newVideoCode) return false

      const videoCode = this.newVideoCode
        .replace('https://youtu.be/', '')
        .replace('https://www.youtube.com/watch?v=', '')
        .trim()

      if (videoCode.includes('.') || this.newVideoName.includes('.')) {
        EventBus.$emit('snackbar', 'Er mogen geen punten in de naam zitten!')
        return false
      }

      const fileName = `${this.newVideoName}.${videoCode}.video`
      const formData = new FormData()
      formData.append('file', new Blob(), fileName)

      this.axios.post('/api/admin/archive/file/' + this.path, formData)
        .then(response => {
          this.addVideoDialog = false
          this.newVideoCode = ''
          this.newVideoName = ''
          EventBus.$emit('snackbar', 'Video is toegevoegd!')
          this.listFiles(this.path)
        })
        .catch(error => {
          EventBus.$emit('snackbar', error.message)
          console.error(error)
        })
    },

    deleteFile (filePath) {
      if (!confirm(`Weet je zeker dat je ${filePath} wil verwijderen?`)) return false
      this.axios.delete('/api/admin/archive/file/' + filePath)
        .then(response => {
          EventBus.$emit('snackbar', `Bestand ${filePath} is verwijderd.`)
          this.listFiles(this.path)
        })
        .catch(error => {
          EventBus.$emit('snackbar', `Bestand ${filePath} kon niet worden verwijderd!`)
          console.error(error)
        })
    },

    deleteFolder (folderPath) {
      if (!confirm(`Weet je zeker dat je ${folderPath} wil verwijderen?`)) return false
      this.axios.delete('/api/admin/archive/folder/' + folderPath)
        .then(response => {
          EventBus.$emit('snackbar', `Folder ${folderPath} is verwijderd.`)
          this.listFiles(this.path)
        })
        .catch(error => {
          EventBus.$emit('snackbar', `Folder ${folderPath} is niet verwijderd, is de folder leeg?`)
          console.error(error)
        })
    },

    // FIXME
    renameFile () {
      alert('Het hernoemen van bestanden kan nog niet.')
    },

    // FIXME
    renameFolder () {
      alert('Het hernoemen van folders kan nog niet.')
    }
  },
  mounted () {
    if (this.$route.hash.length > 1) {
      this.listFiles(decodeURI(this.$route.hash.replace('#/', '')))
    } else {
      this.listFiles('')
    }
  }
}
</script>

<style scoped>
</style>
