<template>
    <div>
        <v-card elevation="0">
            <v-card-title>
                <div class="title">Materialen en machines</div>
            </v-card-title>

            <v-card-text>
                <p>Bij The Space Leiden hebben we een groot aanbod machines en apparaten staan waar je als bezoeker gebruik van mag maken. In onze <a href="https://wiki.spaceleiden.nl/" target="_blank" rel="noopener noreferrer">wiki</a> vind je alle info!</p>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
export default {
  name: 'Materials'
}
</script>

<style scoped>
</style>
