<template>
    <div>
        <v-container>
            <v-row>
                <v-col sm="12" md="8" offset-md="2" lg="6" offset-lg="3" xl="4" offset-xl="4">
                    <div class="text-center"><h2>Wachtwoord opnieuw instellen</h2></div>
                    <v-form ref="resetForm"
                        v-model="valid"
                        lazy-validation>
                        <v-row dense>
                            <v-col>
                                <v-text-field v-model.trim="resetForm.password"
                                    autocomplete="current-password"
                                    name="password" id="password"
                                    :type="show ? 'text' : 'password'"
                                    label="Wachtwoord"
                                    hint="Minimaal 16 karakters"
                                    counter @click:append="show = !show"
                                    :rules="[rules.required, rules.password.min]"
                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'" required>
                                </v-text-field>
                                <v-text-field v-model.trim="resetForm.password_confirmation"
                                    autocomplete="current-password"
                                    name="password_confirmation"
                                    id="password_confirmation"
                                    :type="show ? 'text' : 'password'"
                                    label="Herhaling wachtwoord"
                                    hint="Minimaal 16 karakters"
                                    counter
                                    @click:append="show = !show"
                                    :rules="[rules.required, rules.password.min, rules.password.equal]"
                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'" required>
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-spacer></v-spacer>
                        <v-row justify="space-between">
                            <v-col md="4">
                                <v-btn block @click="back">Terug</v-btn>
                            </v-col>
                            <v-col md="4">
                                <v-btn
                                    block
                                    @click="reset"
                                    elevation="2"
                                    color="accent"
                                    class="button"
                                >Verstuur</v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'

export default {
  name: 'ResetPassword',
  data () {
    return {
      resetForm: {
        email: '',
        password: '',
        password_confirmation: '',
        token: ''
      },
      valid: true,
      show: false,
      rules: {
        required: value => !!value || 'Dit veld is verplicht!',
        password: {
          min: v => v.length >= 16 || 'Het wachtwoord dient minimaal 16 karakters te zijn!',
          equal: value => value === this.resetForm.password || 'Beide wachtwoorden zijn niet gelijk'
        }
      }
    }
  },
  methods: {
    prepareForm () {
      const token = this.$route.query.token
      const email = this.$route.query.email
      if (!token || !email) {
        window.location = '/login'
      }
      this.resetForm.token = token
      this.resetForm.email = email
    },
    back () {
      window.location = '/login'
    },
    reset () {
      if (!this.$refs.resetForm.validate()) return false
      this.axios.post('/api/auth/reset', this.resetForm)
        .then(response => {
          EventBus.$emit('snackbar', response.message)
          window.location = '/login'
        })
        .catch(error => {
          if (error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    }
  },
  mounted () {
    this.prepareForm()
  }
}
</script>

<style scoped>
</style>
