<template>
    <v-container>
        <v-row>
            <v-col sm="12" md="8" offset-md="2" lg="6" offset-lg="3" xl="4" offset-xl="4">
                <v-card flat>
                  <v-card-title>
                    <h3>Deelnemer worden</h3>
                  </v-card-title>
                  <v-card-text>
                    <v-form ref="form"
                        v-model="valid"
                        lazy-validation>
                        <v-row dense>
                            <v-col>
                                <v-text-field v-model="form.first_name"
                                    autocomplete="given-name"
                                    name="fname"
                                    id="first_name"
                                    label="Voornaam"
                                    :rules="[rules.required]" required>
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field v-model="form.prefix"
                                    autocomplete="prefix"
                                    name="prefix"
                                    id="prefix"
                                    label="Tussenvoegsel">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field v-model="form.last_name"
                                    autocomplete="family-name"
                                    name="lname"
                                    id="last_name"
                                    label="Achternaam"
                                    :rules="[rules.required]" required>
                                </v-text-field>
                            </v-col>
                        </v-row>

                        <v-text-field v-model="form.phone_number"
                            autocomplete="tel"
                            name="phone_number"
                            id="phone_number"
                            label="Telefoonnummer"
                            prepend-icon="mdi-phone"
                            :rules="[rules.required]" required>
                        </v-text-field>

                        <v-text-field v-model="form.postal_code"
                            autocomplete="postal"
                            name="postal_code"
                            id="postal_code"
                            type="text"
                            counter
                            maxlength="4"
                            label="Postcode"
                            prepend-icon="mdi-home"
                            :hint="'Eerste vier cijfers van de postcode van je thuisadres. Niet verplicht, maar helpt ons enorm om een beter inzicht te krijgen in waar onze Deelnemers vandaan komen.'"
                            :rules="[rules.postal_code.numbers, rules.postal_code.counter]">
                        </v-text-field>

                        <v-text-field v-model="form.email"
                            autocomplete="email"
                            name="email"
                            id="email"
                            label="E-mailadres"
                            prepend-icon="mdi-email"
                            :rules="[rules.required, rules.email]" required>
                        </v-text-field>

                        <v-text-field v-model.trim="form.password"
                            autocomplete="current-password"
                            name="password" id="password"
                            :type="showPassword ? 'text' : 'password'"
                            label="Wachtwoord"
                            hint="Minimaal 16 karakters"
                            counter @click:append="showPassword = !showPassword"
                            :rules="[rules.required, rules.password.min]" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" required>
                        </v-text-field>

                        <v-text-field v-model.trim="form.password_double"
                            autocomplete="current-password"
                            name="password_double"
                            id="password_double"
                            :type="showPassword ? 'text' : 'password'"
                            label="Herhaling wachtwoord"
                            hint="Minimaal 16 karakters"
                            counter
                            @click:append="showPassword = !showPassword"
                            :rules="[rules.required, rules.password.min, rules.password.equal]"
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" required>
                        </v-text-field>

                        <v-text-field v-model="form.birthdate"
                            autocomplete="birthdate"
                            name="birthdate"
                            id="birthdate"
                            label="Verjaardag"
                            prepend-icon="mdi-cake-variant-outline"
                            hint="DD-MM-YYYY (Zodat we kunnen zien of je 18 bent en om je te feliciteren op je verjaardag)"
                            @change="isAdult"
                            :rules="[rules.required, rules.birthdate]" required>
                        </v-text-field>

                        <v-text-field v-model="form.discord_name"
                            autocomplete="discord"
                            name="discord"
                            id="discord"
                            label="Discord gebruikersnaam"
                            prepend-icon="mdi-discord"
                            hint="Geef je username, met een # en de vier cijfers"
                            :rules="[rules.discord]">
                        </v-text-field>

                        <v-checkbox v-model="form.opt_in_news"
                            name="opt_in_news"
                            id="opt_in_news"
                            label="Hou mij op de hoogte over nieuws en evenementen van The Space.">
                        </v-checkbox>

                        <v-checkbox v-if="showNotAdult" :rules="[rules.required]" required
                            label="Ik heb toestemming van mijn ouder(s) of voogd om mij aan te melden als deelnemer.">
                        </v-checkbox>

                        <v-checkbox v-model="form.agree_terms" name="agree_terms" id="agree_terms" :rules="[rules.required]" required>
                            <template v-slot:label>
                                <div>
                                    Ik heb het
                                    <a
                                        target="_blank"
                                        href="https://spaceleiden.nl/uploads/Algemeen-Reglement.pdf"
                                        @click.stop
                                    >Algemeen Reglement</a>
                                    , het
                                    <a
                                        target="_blank"
                                        href="https://spaceleiden.nl/uploads/Huishoudelijk-Reglement.pdf"
                                        @click.stop
                                    >Huishoudelijk Reglement</a>
                                    en de
                                    <a
                                        target="_blank"
                                        href="https://spaceleiden.nl/privacy-policy"
                                        @click.stop
                                    >Privacy Policy</a>
                                    van Stichting The Space Leiden gelezen en ik ga met deze akkoord.
                                </div>
                            </template>
                        </v-checkbox>

                        <v-checkbox v-model="form.agree_subscription"
                            name="agree_subscription"
                            id="agree_subscription"
                            :rules="[rules.required]"
                            :label=subscriptionAgreementLabel>
                        </v-checkbox>

                        <v-divider></v-divider>
                        <br>

                        <p>
                          Op de volgende pagina teken je een SEPA-incasso mandaat.
                          Dit doe je door eenmalig &euro;{{ subscriptionAmountFirstMonth.toFixed(2) }} te betalen.
                          Hiermee machtig je ons digitaal om maandelijks de deelnemersbijdrage
                          van &euro;{{ subscriptionAmount }} af te schrijven.

                          Na betaling heb je meteen de rest van de huidige maand
                          toegang tot het portaal.
                        </p>

                        <v-spacer></v-spacer>

                        <v-row justify="space-between">
                            <v-col md="4">
                                <v-btn block text @click="back">Terug</v-btn>
                            </v-col>
                            <v-col md="4">
                                <v-btn
                                    block
                                    @click="signup"
                                    color="primary"
                                    elevation="0"
                                    class="button"
                                >Aanmelden</v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
              </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { EventBus } from '../../plugins/events-bus'
import moment from 'moment'

export default {
  name: 'Signup',
  data () {
    return {
      form: {
        first_name: '',
        prefix: '',
        last_name: '',
        email: '',
        password: '',
        password_double: '',
        phone_number: '',
        postal_code: null,
        birthdate: '',
        opt_in_news: false,
        discord_name: '',
        agree_terms: null,
        agree_subscription: null
      },
      subscriptionAmount: 5.00, // set to current default while loading
      subscriptionAmountFirstMonth: 2.50, // set to current default while loading
      subscriptionAgreementLabel: 'Ik machtig Stichting The Space Leiden om maandelijks de vastgestelde deelnemersbijdrage af te schrijven van mijn bankrekening.',
      valid: true,
      rules: {
        required: value => !!value || 'Dit veld is verplicht!',
        postal_code: {
          counter: value => !value || value.length === 4 || 'Geef de 4 cijfers van je postcode.',
          numbers: value => {
            if (value === '' || value === 0 || value == null) return true
            const pattern = /^[0-9]{0,4}$/
            return pattern.test(value) || 'We slaan alleen de cijfers van je postcode op'
          }
        },
        password: {
          min: v => v.length >= 16 || 'Het wachtwoord dient minimaal 16 karakters te zijn!',
          equal: value => value === this.form.password || 'Beide wachtwoorden zijn niet gelijk'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Geen correct e-mailadres.'
        },
        birthdate: value => {
          const pattern = /^([0-2]?[1-9]|[1-3][01])-(0?[1-9]|1[0-2])-\d{4}$/ // there might be a better regex for this
          return pattern.test(value) || 'Gebruik het format DD-MM-YYYY'
        },
        discord: value => {
          if (value === '') return true
          const pattern = /^.*#[0-9]{4}$/
          return pattern.test(value) || 'Geef je username, met een # en vier cijfers'
        }
      },
      showPassword: false,
      showNotAdult: false,
      showSnackbar: false,
      passwords_incorrect: false,
      message: ''
    }
  },
  methods: {
    signup () {
      if (!this.$refs.form.validate()) return false

      if (this.form.password !== this.form.password_double) {
        EventBus.$emit('snackbar', 'Je wachtwoord is niet hetzelfde ingevuld!')
        return false
      }

      if (this.form.agree_terms !== true || this.form.agree_subscription !== true) {
        EventBus.$emit('snackbar', 'Je moet akkoord zijn met de voorwaarden en de machtiging om verder te gaan.')
        return false
      }

      this.axios.post('/api/auth/signup', this.form)
        .then(response => {
          EventBus.$emit('snackbar', response.message)
          window.location = response.data.href
        }).catch(error => {
          if (typeof error.data !== 'undefined' && error.data.length > 0) {
            EventBus.$emit('snackbar', error.data[0])
          } else {
            EventBus.$emit('snackbar', error.message)
          }
        })
    },
    back () {
      this.$emit('login')
    },
    isAdult () {
      const birthdate = this.form.birthdate
      const age = moment.utc().diff(moment.utc(String(birthdate), 'DD-MM-YYYY'), 'years')
      console.log(birthdate, age)
      if (age < 18) {
        this.showNotAdult = true
      } else {
        this.showNotAdult = false
      }
    },
    getDefaultSubscription () {
      this.axios.get('/api/payments/subscription/default')
        .then(response => {
          this.subscriptionAmount = response.data.amount
          this.subscriptionAmountFirstMonth = this.subscriptionAmount / 2
          this.subscriptionAgreementLabel = 'Ik machtig Stichting The Space Leiden om maandelijks de vastgestelde deelnemersbijdrage van €' + this.subscriptionAmount + ' af te schrijven van mijn bankrekening.'
        }).catch(error => {
          console.log(error)
          EventBus.$emit('snackbar', error.message)
        })
    }
  },
  back () {
    window.location = '/login'
  },
  mounted () {
    this.getDefaultSubscription()
  }
}
</script>

<style scoped>
</style>
